@charset "UTF-8";

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");


	table {
		width:300px
	}
	
	div.center{
	text-align:center;
	display: flex;
  	justify-content: center;
	}